{
  "comments": false,
  "env": {
    "browser" : {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 2 versions",
            ]
          }
        }]
      ]
    },
    "node": {
      "presets": [ "node6" ]
    }
  },
}
